<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="HK2_Core::root" title="HK2 Extensions">
                    <resource id="HK2_SearchSanitizer::core_config" title="Search Sanitizer Settings" sortOrder="42"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
